<?php
$connection = \Bitrix\Main\Application::getConnection();

$connection->queryExecute("SET NAMES '{{ mysql_character_set_server }}'");
$connection->queryExecute("SET collation_connection = '{{ mysql_collation_server }}'");
