user {{ nginx_user }};
worker_processes auto;
error_log {{ nginx_error_log }};
pid {{ nginx_pidfile }};
include modules-enabled/*.conf;
worker_rlimit_nofile {{ worker_rlimit_nofile }};

{% if nginx_extra_conf_options %}
{{ nginx_extra_conf_options }}
{% endif %}

{% block events %}
events {
    use epoll;
    worker_connections  {{ nginx_worker_connections }};
    multi_accept {{ nginx_multi_accept }};
}
{% endblock %}

http {
    {% block http_begin %}{% endblock %}

{% block http_basic %}
	include {{ nginx_mime_file_path }};
	default_type application/octet-stream;
	server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};

	# Description of supported access log formats
	log_format main	{{ nginx_log_format_main|indent(23) }};

	log_format common {{ nginx_log_format_common }};

	log_format balancer {{ nginx_log_format_balancer }};

	log_format debug {{ nginx_log_format_debug }};

	proxy_redirect ~^(http://[^:]+):\d+(/.+)$ $1$2;
    proxy_redirect ~^(https://[^:]+):\d+(/.+)$ $1$2;

    # upload default maps
    include bx/maps/*.conf;

    # settings files
    include bx/settings/*.conf;

	# Disable request logging in nginx by default
	access_log			off;

	sendfile			{{ nginx_sendfile }};
	tcp_nopush			{{ nginx_tcp_nopush }};
	tcp_nodelay			{{ nginx_tcp_nodelay }};
	types_hash_max_size	{{ nginx_types_hash_max_size }};

	client_max_body_size		{{ nginx_client_max_body_size }};
	client_body_buffer_size		{{ nginx_client_body_buffer_size }};

    server_tokens {{ nginx_server_tokens }};
	{% if nginx_proxy_cache_path %}
    proxy_cache_path {{ nginx_proxy_cache_path }};
    {% endif %}
    {% endblock %}

    {% if nginx_extra_http_options %}
    {{ nginx_extra_http_options|indent(4, False) }}
    {% endif %}

    # add_header
    include bx/conf/http-add_header.conf;

	# Set default website
	include bx/site_enabled/*.conf;

	# Set additional websites
	include bx/site_ext_enabled/*.conf;

	{% block http_end %}{% endblock %}
}
