[Unit]
Description=RTC service
After=redis.target

[Service]
Type=forking
User={{ bx_push_server_user }}
Group={{ bx_push_server_group }}
ExecStart=/usr/local/bin/push-server-multi systemd_start
ExecStop=/usr/local/bin/push-server-multi stop
WorkingDirectory=/opt/push-server
Restart=always
RestartSec=30
PrivateTmp=false

[Install]
WantedBy=multi-user.target
