d /tmp/php_sessions 0777 {{ user_server_sites }} {{ user_server_sites }} -
d /tmp/php_sessions/{{ domain }} 0770 {{ user_server_sites }} {{ user_server_sites }} -
d /tmp/php_upload 0777 {{ user_server_sites }} {{ user_server_sites }} -
d /tmp/php_upload/{{ domain }} 0770 {{ user_server_sites }} {{ user_server_sites }} -
