{% for vhost in apache_vhosts %}
<VirtualHost 127.0.0.1:{{ apache_listen_port }}>
        ServerAdmin admin@localhost
        DocumentRoot /home/bitrix/www

        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>

        <DirectoryMatch .*\.svn/.*>
                 Require all denied
        </DirectoryMatch>

        <DirectoryMatch .*\.git/.*>
                 Require all denied
        </DirectoryMatch>

        <DirectoryMatch .*\.hg/.*>
                 Require all denied
        </DirectoryMatch>

        <Directory /home/bitrix/www/>
                Options FollowSymLinks MultiViews
                AllowOverride All
                DirectoryIndex index.php index.html index.htm
        Require all granted
        </Directory>

        <Directory /home/bitrix/www/bitrix/cache>
                AllowOverride none
        Require all denied
        </Directory>

        <Directory /home/bitrix/www/bitrix/managed_cache>
                AllowOverride none
        Require all denied
        </Directory>

        <Directory /home/bitrix/www/bitrix/local_cache>
                AllowOverride none
        Require all denied
        </Directory>

        <Directory /home/bitrix/www/bitrix/stack_cache>
                AllowOverride none
	    Require all denied
        </Directory>

        <Directory /home/bitrix/www/upload>
                AllowOverride none
                AddType text/plain php,php3,php4,php5,php6,phtml,pl,asp,aspx,cgi,dll,exe,ico,shtm,shtml,fcg,fcgi,fpl,asmx,pht
        </Directory>

        <Directory /home/bitrix/www/upload/support/not_image>
                AllowOverride none
        Require all denied
        </Directory>

        <Directory /home/bitrix/www/bitrix/images>
                AllowOverride none
                AddType text/plain php,php3,php4,php5,php6,phtml,pl,asp,aspx,cgi,dll,exe,ico,shtm,shtml,fcg,fcgi,fpl,asmx,pht
        </Directory>

        <Directory /home/bitrix/www/bitrix/tmp>
                AllowOverride none
                AddType text/plain php,php3,php4,php5,php6,phtml,pl,asp,aspx,cgi,dll,exe,ico,shtm,shtml,fcg,fcgi,fpl,asmx,pht
        </Directory>

        <IfModule mod_rewrite.c>
                #Nginx should have "proxy_set_header HTTPS YES;" in location
                RewriteEngine On
                RewriteCond %{HTTP:HTTPS} =YES
                RewriteRule .* - [E=HTTPS:on,L]
        </IfModule>
        
{% if vhost.extra_parameters is defined %}
{{ vhost.extra_parameters | indent(width=2, first=True) }}
{% endif %}

</VirtualHost>
{% endfor %}
